.page {
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.heading-container{
    horizontal-align:center;
    vertical-align:top;
    height:10%;
    width:100%;
}
.heading{
    width:50%;
    color:white;
    horizontal-align:center;
    vertical-align:middle;
    font-size:24;
    font-weight: 500
}
.list-button-container{
    height:100%;
    width:25%;
    flex-direction: row;
}
.list-button{
    margin-top:20%; 
    height:60%;
    width:60%;
}
.recorder-logo-container{
    height:50%;
    width:100%;
    margin-top: 15%;
}
.recorder-logo{
    height:50%;
    width:50%;
}
.recording-functions-container{
    height:20%;
    width:90%;
}
.record-button-container{
    height:100%;
    width:30%;
    flex-direction: row;
}
.play-button-container{
    height:100%;
    width:30%;
    flex-direction: row;
}
.confirm-container{
    margin-top:10%;
    height:20%;
    width:100%;
}
.record-stop-button{
    height:80%;
    width:100%;
}
.record-start-button{
    height:80%;
    width:100%;
}
.playpause-button{
    margin-top:10%; 
    height:60%;
    width:60%;
}
.button-label{
    height:20%;
    font-size: 16;
    color:white;
    text-align: center;
}
.confirm-label{
    height:80%;
    width:50%;
}